{% extends 'shop/base.html' %}
{% block title %}{{ user.name }} Заказы{% endblock %}
{% block content %}
    <h2>User orders: {{ user.name }}</h2>
<h3>For last {{ period }}</h3>
<table>
    <tr>
        <th>Дата заказа</th>
        <th>Товары</th>
        <th>      </th>
        <th>Итоговая цена</th>
    </tr>
    {% for order in orders %}
        <tr>
            <td>{{ order.date_ordered }}</td>
            <td>
                <ul>
                    {% for product in order.products.all %}
                        <li>{{ product.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td></td>
            <td>{{ order.total_price }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}